{{#[helpers/layout] htmlWebpackPlugin}}
    <link rel="stylesheet" href="./../assets/vendors/custom/custom.css">  
  <script src="./../assets/vendors/fontawesome/js/all.min.js"></script>  

  <p class="default-custom">
    This is the about profil
    <i class="fa fa-car fa-lg"></i>
     <img src="./../assets/images/default.png" class="rounded"> 
  </p>

  <p class="default-red-color" id="klikMe">
    Default Red Color
  </p>
{{/[helpers/layout]}} 